[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=lokki
Exec=/usr/bin/invoker --type=d -s /opt/lokki/bin/lokki
Icon=/usr/share/icons/hicolor/80x80/apps/lokki80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
